html, body {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
}

img {
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 50px);

  height: 100px;
  width: 100px;
}
